// Currently the inline progress bar only supports indeterminate loading mode.
// For a proof of concept on how this can include also determinate loading, see:
// https://codepen.io/xumium/pen/LYLZbva?editors=1100
@mixin InlineProgressBar {
    // We ensure semantic usage by only targeting generic elements that set the
    // correct role 
    &[role=progressbar] {
        position: relative;
        width: $wikit-Progress-inline-track-width;
        height: $wikit-Progress-inline-track-height;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            background: $wikit-Progress-inline-background-color;
        }

        // Indeterminate progress bars should not set the `aria-valuenow` 
        // attribute
        &:not([aria-valuenow])::before {
            width: 30%;
            border-radius: $wikit-Progress-inline-indeterminate-border-radius;
            animation-name: load-indeterminate;
            animation-duration: $wikit-Progress-inline-animation-duration;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: 0s;
        }
    }

    @keyframes load-indeterminate {
        0% { left: 0; }
        50% { left: 70%; }
        100% { left: 0; }
    }
}
