@mixin heading-1 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-serif;
    font-size: $font-size-style-h1;
    font-weight: $font-weight-style-h1;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin heading-2 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-sans;
    font-size: $font-size-style-h2;
    font-weight: $font-weight-style-h2;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin heading-3 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-sans;
    font-size: $font-size-style-h3;
    font-weight: $font-weight-style-h3;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin heading-4 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-sans;
    font-size: $font-size-style-h4;
    font-weight: $font-weight-style-h4;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin heading-5 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-sans;
    font-size: $font-size-style-h5;
    font-weight: $font-weight-style-h5;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin heading-6 ($color: $font-color-emphasized) {
    font-family: $font-family-style-heading-sans;
    font-size: $font-size-style-h6;
    font-weight: $font-weight-style-h6;
    line-height: $font-line-height-style-heading;
    color: $color;
}

@mixin body ($color: $font-color-base, $line-height: $font-line-height-style-body, $font-weight: $font-weight-style-body) {
    font-family: $font-family-style-body;
    font-size: $font-size-style-body;
    font-weight: $font-weight; //can also be $font-weight-style-body-bold
    line-height: $line-height; //can also be set to the smaller $line-height-style-body-component
    color: $color;

}

@mixin body-s ($color: $font-color-base, $font-weight: $font-weight-style-body-s) {
    font-family: $font-family-style-body-s;
    font-size: $font-size-style-body-s;
    font-weight: $font-weight; //can also be $font-weight-style-body-bold
    line-height: $font-line-height-style-body-s;
    color: $color;
}

@mixin small-text ($color: $font-color-base, $font-weight: $font-weight-style-body) {
    font-family: $font-family-style-body;
    font-size: $font-size-style-small-text;
    font-weight: $font-weight; //can also be $font-weight-style-body-bold
    line-height: $font-line-height-style-small-text;
    color: $color;
}

@mixin placeholder ($color: $font-color-base, $line-height: $font-line-height-style-body, $font-weight: $font-weight-style-body) {
    font-family: $font-family-style-placeholder;
    font-size: $font-size-style-placeholder;
    font-weight: $font-weight-style-placeholder;
    line-height: $font-line-height-style-placeholder;
    color: $font-color-subtle;
}

@mixin description ($color: $font-color-base) {
    font-family: $font-family-style-description;
    font-size: $font-size-style-description;
    font-weight: $font-weight-style-description;
    line-height: $font-line-height-style-description;
    color: $color;
}