version: '2'

services:
    browsertests:
        extends:
            service: node
        entrypoint: 'npm run -- lerna run e2e --scope @wmde/wikit-vue-components -- -- --config nightwatch.config.js --env docker'
        environment:
            - VUECOMPONENTS_STORYBOOK_PORT
            - NIGHTWATCH_START_DRIVER=false
        depends_on:
            - selenium
            - storybook-vue
    selenium:
        image: selenium/standalone-chrome
        shm_size: '2gb'
        depends_on:
            - storybook-vue
