name: Comment deploy URL to PR

on:
  push
  # pull_request:
  #   types: [opened]

jobs:
  comment-on-pr:
    runs-on: ubuntu-latest
    name: Comment deploy URL to PR
    steps:
      - name: Get branch hash
        id: get_hash
        run: echo "PR_HASH=$(echo '${{ github.ref }}' | shasum | awk '{print $1}')" >> $GITHUB_ENV
      - name: Test env variable
        run: echo ${{ env.PR_HASH }}
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@1.0.1
        with:
          message: "<https://${{ env.PR_HASH }}--wmde-wikit.netlify.app>"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
